.scan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 3%;
}
.scan button {
    background-color: hsl(94, 59%, 35%);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

.scan button:hover {
    background-color: hsl(94, 59%, 25%);
}

.uploadImgae{
    height: 30%;
}
.scan h2{
    margin-bottom: 20px;
}

.scan p{
    text-align:left;
    width: 85%;
}
.scan form{
    text-align: start;
}

.scan h2::after {
    content: '';
    width: 80%;
    height: 2px;
    background-color: hsl(94, 59%, 35%);
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.scan input{
    display: none;
}

.scan label{

    width:20%;
    border: 1px dashed  hsl(94, 59%, 35%);
    margin:center;
    cursor: pointer;
    padding:10px;
}
.scan label{
    width: 20%;
}
.scan label img{

    width:100%;

}
.scan form {
    display: flex;
    align-items: center;
}
/* .scan button{
    background-color: hsl(94, 59%, 35%);
    color: white;
    border: none;
    padding: 5px 8px;
    margin-left: 5px;
} */
.image{
    width: 32%;
    
}

.image img{
    width:100%;
}

@media (max-width: 820px) and (min-width: 700px){
    .image{
        width: 70%;
        
    }
}

@media (max-width: 699px ) and (min-width: 630px){
    .image{
        width: 90%;
        
    }
    .scan h2{
        font-size: 20px;
    }
    .scan label{
        padding: 34px ;
    }
}

@media (max-width: 630px ) and (min-width: 576px){
   .image{
        width: 100%;
   }
   .scan label{
    padding: 34px ;
}

   /* .scan{
    display: block;
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 3%;
} */

}

@media (max-width: 575px){
    .scan{
        display: block;
        height: fit-content;
        width: 90%;
        margin: auto;
        margin-top: 3%;
    }

    .scan label{
        padding: 30px ;
    }

    .scan form{
        text-align: center;
    }
    
    .image{
        margin: auto;
        padding: 10px ;
    
        width: 80%;
        
    }
    .scan p{
        width: 90%;
        direction: rtl;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    }
    .scan h2{
        font-size: 19px;
    }
    .scan form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/* @media (min-width: 577px) and (max-width: 768px){
    .scan{
        width: 100%;
        margin: 70px;
        flex-direction: column;
        padding-top:50px;
        padding-bottom: 120px;
    }
    .scan .leftScan{
        width: 90%; 
        text-align: center; 
        padding-top: 50px;
        padding-bottom: 60px; 
    }
    .scan p {
        text-align: left; 
    } 
    .scan label{
        width:30%;
    }
    .scan form{
        margin-right: 150px;
    }
    .scan label img{
        width:20%;
    }
    .scan img{
        margin-right: 200px;
    }
} */

